<div class="container">
  <h1>Angular animations examples</h1>
  <hr>

  <app-hidden-element></app-hidden-element>
  <hr>

  <app-list1></app-list1>
  <hr>

  <div class="row">
    <div class="col-xs-6">
      <app-list2></app-list2>
    </div>
    <div class="col-xs-6">
      <app-stagger-animation></app-stagger-animation>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-xs-6">
      <app-child-animation></app-child-animation>
    </div>
    <div class="col-xs-6">
      <app-switch-content></app-switch-content>
    </div>
  </div>

</div>
<footer class="row text-center">
  <p>This page was built with the purpouse of learning Angular 4 animations and experiment with interaction patterns.
    <br>Feel free to reuse any or all of these patterns in your project.
    You are welcomed to add more examples.
  </p>
  <h4><a href="https://liviulvu.github.io/angular4-ui-animations-examples/">View source code on github</a></h4>
</footer>