<div class="row">
  <h3 class="col-xs-8">Add item to list 1</h3>
</div>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary"
      [@myAnimation]='state' mouseenter mouseleave
      (click)=addHero1(newHero1.value)>
        Add
    </button>
  </span>
  <input #newHero1 type="text"
    class="form-control"
    (keyup.enter)="addHero1(newHero1.value)"
    (blur)="addHero1(newHero1.value); newHero1.value='' ">
</div>

<h3 *ngFor="let hero of heroes1; let i = index">
  <button class="btn btn-secondary"
    (click)="hideLi1(i)">
      Select
  </button>
  <span [ngClass]="{'animated-li': animated == i}">
    {{hero.name}}
  </span>
</h3>
<br>